.hero-select {
    height: 60px;
    width: 60px;
    border: 1px solid #505050;
    box-shadow: 2px 1px 1px #505050d0;
    background-color: rgb(219, 223, 228);
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(32,38,40);
    z-index: 9999;
    padding: 1.6rem;
}
.hero-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.card {
    border: 1px solid #ffffff;
    box-shadow: 2px 1px 1px #505050d0;
    background-color:  rgb(34,41,43);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.modal span {
    position: absolute;
    font-weight: bold;
    font-size: larger;
    top: 10px;
    right: 5px;
    color: white;
    cursor: pointer;
}

.card>img {
    max-width: 3rem;
    max-height: 3rem;
}

.hero-select:hover {
    background-color: rgba(175, 169, 166, 0.562);
    transition: 0.25s ease-in-out;
}